.container_vocabulary {
  margin-bottom: 80px;
}

.container_vocabulary h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 100%;
  color: #103D7C;

  text-transform: uppercase;
  margin-bottom: 30px;
}

.container_vocabulary div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container_vocabulary article {
  width: 30%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.title_vocabulary {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #103D7C;
  color: white;
  width: 100%;
  height: 100px;
  border-radius: 5px 5px 0px 0px;
  font-size: 1.4em;
}

.option_vocabulary {
  font-size: 1.1rem;
  height: 350px;
}

.option_vocabulary {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding-left: 40px;
  gap: 5px;
}

.option_vocabulary li {
  list-style: circle;
}

.option_vocabulary li a {
  color: #363636;
  font-family: sans-serif;
  word-break: break-all;
}

.option_vocabulary li:hover {
  color: #000000;
  text-decoration: underline;
}

.option_vocabulary li a:hover {
  color: #0066cc;
}


.bank_words {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;

}

.bank_words h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: white;
  background-color: #103D7C;
  width: 90%;
  height: 80px;
  border-radius: 5px 5px 0px 0px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  overflow: auto;
}

.columns ul {
  font-size: 1.1rem;
  height: 350px;
  width: 25%;
  padding: unset;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.columns ul li {
  list-style: inside;

}


.columns ul li a {
  color: #0066cc;
}

.columns ul li a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 600px) {
  .container_vocabulary div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .container_vocabulary article {
    width: 70%;
    border: 1px solid rgba(0, 0, 255, 0.76);
    border-radius: 6px;
  }

  .title_vocabulary {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.76);
    color: white;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    font-size: 1.4em;
  }

  .bank_words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
    margin-bottom: 20px;
  }

  .bank_words h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    word-wrap: break-word;
    background-color: #103D7C;
    width: 90%;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
  }


  .columns {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    overflow: 600px;
  }


  .columns ul {
    font-size: 1.1rem;
    height: auto;
    width: 100%;
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;

  }

  .columns ul li {
    list-style: inside;


  }


  .columns ul li a {
    color: #0066cc;
    height: 50px;
    width: 50´x;
  }

  .columns ul li a:hover {
    text-decoration: underline;
  }

}