#ventanaFormListening, #ventanaFormReading {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#ventanaFormListening>header, #ventanaFormReading>header {
    height: 4.5rem;
    background-color: #538fff;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    font-size: 1.5em;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#abrirVentanaListening, #abrirVentanaReading {
    cursor: pointer;
}

#cerrarVentanaListening, #cerrarVentanaReading {
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
}

#mainListening, #mainReading {

    color: #44628c;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .8em;
    padding: 1em;
    font-family: sans-serif;
    justify-content: space-evenly;
}

input,
select, textarea,
button {
    border: none;
    color: #363636;
    outline: none;
    padding: .5em .5em;
    border-radius: .35em;
    font-size: 1em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.itemForm>[type="file"] {
    padding: .59em .5em !important;
}

.itemForm textarea[name='texto'] {
    resize: none;
}

.rowWrap>[type="submit"] {
    background-color: #538fff;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 1.15em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: .59em .5em !important;
    transition: all .5s ease;
}

.rowWrap>[type="submit"]:hover {
    transform: scale(1.1);
}

.rowWrap {
    display: flex;
    justify-content: space-around;
    gap: .5em;
    align-items: center;

}

.oficinista{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 78%;
}

.oficinista header{
    color: rgb(49, 44, 44);
    height: 20%;
    padding: 0rem 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    display: flex;
    align-items: center;
}


.oficinista .carot{
    height: 80%;
    background-color: #f0f2f5;
}
.oficinista .carot div{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}
.oficinista .carot section{
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    border: 1px solid rgba(128, 128, 128, 0.308);
    width: 48%;
    height: 45% !important;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    height: 40%;
    margin: 0.5rem;
    cursor: pointer;
    color: #538fff;
}

.itad{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.itad .activi{
    background-color: white;
    border-radius: 5px;
    width: 49%;
    height: 70%;
}

.itad .activi header{
    height: 13%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
}
.fot{
    height: 87%;
}
.fot .scroll{
    overflow-y: scroll;
    height: 85%;
}
.fores{
    height: 12%;
}

.fores input{
    height: 80%;
}
.scroll .ret{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14%;
    margin-top: 7px;
    padding: 0rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   }

.scroll {
    scrollbar-width: none;
  }

.scroll .ret button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin: 0;
    cursor: pointer;
}

.x3{
    cursor: pointer;
}
.wer{
    display: none;
    border-radius: 7px;
    width: 30%;
    height: 30%;
    margin-left: 1rem;
    background-color: white;
}
.wer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
    height: 100%;
}
.wer input{
    display: none;
}

.wer form label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    cursor: pointer;
    border: 1px solid black;
}
.wer form button{
    margin-top: 15px;
    cursor: pointer;
}
.ass{
    display: flex;
}
.column {
    display: flex;
    flex-wrap: wrap;
}

.itemForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .5em;
}

.itemForm>label {
    font-weight: 700;
    font-size: 1em;
}

/* Contenedor para crear dinamicamente las preguntas */

#contenedorPreguntasL, #contenedorPreguntasR {

    display: flex;
    gap: 1em;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
    height: 15em;
}


/* Media Query */
@media screen and (max-width: 900px) {

    .rowWrap {
        flex-wrap: wrap;
    }

    #ventanaFormListening>header, #ventanaFormReading>header {
        font-size: 1.05em !important;
    }

    #ventanaFormListening {
        padding-bottom: 1.5em;
    }

    #mainListening, #mainReading {
        justify-content: flex-start;
    }

    #contenedorPreguntas {
        height: 40vh;
    }

    .itemForm>label {
        font-size: 15px !important;
    }

    /* Ocultar el texto interno del campo de tipo "file" */
    .itemForm>[type="file"]::-webkit-file-upload-button {
        font-size: 0;
        /* Hacer que el texto sea invisible */
        padding: .59em .5em !important;
        /* Estilos adicionales si es necesario */
    }
}